<ion-header>
  <ion-toolbar>
    <ion-title>Pengalaman, Kritik, Saran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>Pengalaman</ion-item>
      <ion-item>- Memahami cara penggunaan git, menggunakan angular, ionic dan macam-macam komponen yang ada didalamnya
      </ion-item>
      <ion-item>Kritik</ion-item>
      <ion-item>-</ion-item>
      <ion-item>Saran</ion-item>
      <ion-item>-</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>