<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Foto & Upload
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let isiFoto of fotoService.dataFoto; index as position">
        <ion-img [src]="isiFoto.webviewPath"></ion-img>
        <ion-button (click)="uploadFoto(position)">Upload</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="TambahFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>