<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Foto Uploaded
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let iFoto of urlImageStorage; index as position">
        <ion-img [src]="iFoto"></ion-img>
        <ion-label>{{ imageName[position] }}</ion-label>
        <ion-button [routerLink]="['../tab4/', iFoto]">Detail</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>